.THIS {
	background-color: #FFF;    
}

.THIS .smc-container {
    min-height: 50px;
}

.THIS .smc-header > td {
    color: white;
    background-color: rgb(0, 112, 210);
}

.THIS .smc-td-hidden {
    border: none !important;
    background: none !important;
}

.THIS table td {
    border: 1px solid rgb(217, 219, 221);
}

.THIS .slds-scrollable_y{
    height:300vh;
}