.THIS .slds-card-blue-background{
    position: relative;
    padding: 0;
    background:#102e61;
    border: 1px solid #102e61;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
.THIS .max-width{
    width: 100%;
}
.THIS .modalContainer{
    height: 650px !important;
}
.THIS .slds-modal__container{
    width: 1000px !important;
    max-width: 1100px;
    min-width: 950px;
}
@media (min-width: 48em){
    .THIS .slds-modal__container {
        width: 1000px !important;
        max-width: 1100px;
        min-width: 950px;
    }
}

.THIS .greyColor svg{
    fill:lightgrey;
}