.THIS .legend-picture {
  font-style: italic;
  color: rgb(146, 146, 146);
}

.THIS .align-radio-button {
  margin: 15px;
}
.THIS .align-button {
  margin: 05px;
}

.THIS .styling-label {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.THIS .styling-title-type {
  text-align: center;
  color: white;
  background: #00519e;
  margin: 10px;
  max-width: 340px;
}

.THIS .styling-title-type:hover {
  cursor: pointer;
}

.THIS .sizing-img{
  height: 125px;
  width: 340px;
}