.slds-page-header-custom {
  height: 65.2px;
  box-shadow: none;
  padding: 1rem;
  border-radius: 0px;
  background: padding-box rgb(250, 250, 249);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: padding-box;
  background-color: rgb(250, 250, 249, 0);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-image: initial;
}

.entityNameTitle {
  font-size: 0.8125rem !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.account-icon-background {
  background-color: #7f8de1 !important;
  border-radius: 4px;
}