.slds-card {
  height: 421px;
  box-shadow: 0 2px 2px 0 rgba(35, 44, 119, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
}

h2 {
  color: #004f9f;
}

.king-blue {
  color: #004f9f;
}

.slds-card__header-link {
  pointer-events: none;
}

.font-sizing {
  font-size: 8.5rem;
}

.light-grey {
  color: #dfdfdf;
}

.sizing-body {
  min-height: 364px;
  max-height: 364px;
  overflow: hidden;
}

.slds-card__body {
  padding-top: 40px;
}

.slds-grid {
  font-family: Poppins;
  font-size: 16px;
  color: #004f9f;
}

.slds-col {
  text-align: center;
  height: 170px;
  padding-top: 10px;
}