.error-message {
    color: #ff0000;
    font-family: sans-serif;
    font-size: 12px;
}
.order-not-found {
    color: #686767;
    font-family: sans-serif;
    font-size: 12px;
}
body { margin: 5px 10px 15px 10px; background-color: #F9F9F9; color: #686767; font-family: sans-serif; font-size: 12px; text-transform: uppercase; }
div.view h1 { font-size: 14px; text-transform:uppercase; text-align: center; color: #686767; }
div.view { width: 100%; margin: 15px auto 5px auto; padding: 15px; background-color: #FFFFFF; border-radius: 0.25rem; border: 1px solid #DDDBDA; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); }
div.view div.header { margin-bottom: 10px; height: 120px; width: 400px; border: 1px solid #D9DBDD; border-radius: 0.25rem; text-transform:uppercase ; color: #686767; }
div.view div.header-left { float: left; }
div.view div.header-right { float: right; }
div.view div.header p.title { margin: 0px 0px 2px 0px; padding: 5px; border-bottom: 1px solid #D9DBDD; color: #FFFFFF; background-color: #0070D2; }
div.view div.header p.text { margin: 3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
div.view div.header p.text:empty { display: none; }
div.view table { width: 100%; margin: 10px 0px 10px 0px; border-collapse: collapse; }
/* div.view table { width: 100%; margin: 10px 0px 10px 0px; table-layout: fixed; border-collapse: collapse; } */
div.view table tr:nth-child(even) { background-color: #F3F2F2; }
div.view table tr th { letter-spacing: -0.03em; padding: 5px; border: 1px solid #D9DBDD; color: #FFFFFF; font-weight: normal; text-transform:uppercase ; text-align: left; background-color: #0070D2; }
/* div.view table tr th:nth-child(1) { width: 32px; }
div.view table tr th:nth-child(2) { width: 76px; }
div.view table tr th:nth-child(3) { width: 76px; }
div.view table tr th:nth-child(4) { width: 76px; }
div.view table tr th:nth-child(5) { width: 200px; }
div.view table tr th:nth-child(6) { width: 170px; }
div.view table tr th:nth-child(7) { width: 45px; }
div.view table tr th:nth-child(8) { width: 40px; }
div.view table tr th:nth-child(9) { width: 60px; } */
div.view table tr th:nth-child(1) { width: 4.51%; }
div.view table tr th:nth-child(2) { width: 10.09%; }
div.view table tr th:nth-child(3) { width: 10.09%; }
div.view table tr th:nth-child(4) { width: 10.09%; }
div.view table tr th:nth-child(5) { width: 33%; }
div.view table tr th:nth-child(6) { width: 32.66%; }
div.view table tr th:nth-child(7) { width: 6.86%; }
div.view table tr th:nth-child(8) { width: 6.86%; }
div.view table tr th:nth-child(9) { width: 6.86%; }
div.view table tr td { padding: 5px; border: 1px solid #D9DBDD; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
div.view table tr.shipped { background-color: #99FF99; }
div.view table tr.ep { background-color: #FFFF99; }